<section class="styling-gallery">
    <img src="portfolio_fotos/1.jpg" alt="Foto 1" class="photo photo-1">
    <img src="portfolio_fotos/2.jpg" alt="Foto 2" class="photo photo-2">
    <img src="portfolio_fotos/49.jpg" alt="Foto 3" class="photo photo-3">
    <img src="portfolio_fotos/3.jpg" alt="Foto 3" class="photo photo-4">

    <img src="portfolio_fotos/53.jpg" alt="Foto 1" class="photo photo-5">
    <img src="portfolio_fotos/4.jpg" alt="Foto 2" class="photo photo-6">
    <img src="portfolio_fotos/5.jpg" alt="Foto 3" class="photo photo-7">
    <img src="portfolio_fotos/50.jpg" alt="Foto 3" class="photo photo-8">

    <img src="portfolio_fotos/8.jpg" alt="Foto 2" class="photo photo-9">
    <img src="portfolio_fotos/7.jpg" alt="Foto 3" class="photo photo-10">
    <img src="portfolio_fotos/6.jpg" alt="Foto 3" class="photo photo-11">

    <img src="portfolio_fotos/71.jpg" alt="Foto 2" class="photo photo-12">
    <img src="portfolio_fotos/72.jpg" alt="Foto 3" class="photo photo-13">
    <img src="portfolio_fotos/73.jpg" alt="Foto 3" class="photo photo-14">

    <img src="portfolio_fotos/12.jpg" alt="Foto 1" class="photo photo-15">
    <img src="portfolio_fotos/13.jpg" alt="Foto 2" class="photo photo-16">
    <img src="portfolio_fotos/14.jpg" alt="Foto 3" class="photo photo-17">
    <img src="portfolio_fotos/15.jpg" alt="Foto 3" class="photo photo-18">
    <img src="portfolio_fotos/70.jpg" alt="Foto 3" class="photo photo-19">
    <img src="portfolio_fotos/11.jpg" alt="Foto 3" class="photo photo-20">

    <img src="portfolio_fotos/74.jpg" alt="Foto 1" class="photo photo-21">
    <img src="portfolio_fotos/75.jpg" alt="Foto 2" class="photo photo-22">
    <img src="portfolio_fotos/9.jpg" alt="Foto 3" class="photo photo-23">
    <img src="portfolio_fotos/10.jpg" alt="Foto 3" class="photo photo-24">
    <img src="portfolio_fotos/16.jpg" alt="Foto 3" class="photo photo-25">
    <img src="portfolio_fotos/17.jpg" alt="Foto 3" class="photo photo-26">
</section>
