<h3>Product Styling</h3>
<section class="styling-gallery">
    <img src="portfolio_fotos/MK CA SS23 AUG-220.jpg" alt="Foto 1" class="photo photo-1">
    <img src="portfolio_fotos/LM02_2022-09-01_0269.jpg" alt="Foto 2" class="photo photo-2">
    <img src="portfolio_fotos/AS0I9868.jpg" alt="Foto 3" class="photo photo-3">
    <img src="portfolio_fotos/AS0I9518.jpg" alt="Foto 4" class="photo photo-4">
    <img src="portfolio_fotos/AS0I9330.jpg" alt="Foto 5" class="photo photo-5">
    <img src="portfolio_fotos/AS0I0009.jpg" alt="Foto 6" class="photo photo-6">
    <video controls class="photo photo-7 video">
        <source src="portfolio_fotos/MK_SS23_FPS_WW_VIDEO01.mp4" type="video/mp4">
        Seu navegador não suporta o elemento de vídeo.
      </video>
      
      <video controls class="photo photo-8 video">
        <source src="portfolio_fotos/MK_SS23_FPS_MW_VIDEOO2.mp4" type="video/mp4">
        Seu navegador não suporta o elemento de vídeo.
      </video>
    <img src="portfolio_fotos/60.jpg" alt="Foto 9" class="photo photo-9">
    <img src="portfolio_fotos/61.jpg" alt="Foto 10" class="photo photo-10">
    <img src="portfolio_fotos/63.jpg" alt="Foto 11" class="photo photo-11">
    <img src="portfolio_fotos/65.jpg" alt="Foto 11" class="photo photo-12">

    <img src="portfolio_fotos/31.png" alt="Foto 11" class="photo photo-13">
    <img src="portfolio_fotos/58.jpg" alt="Foto 11" class="photo photo-14">
    <img src="portfolio_fotos/64.jpg" alt="Foto 11" class="photo photo-15">

    <img src="portfolio_fotos/32.png" alt="Foto 11" class="photo photo-16">
    <img src="portfolio_fotos/33.png" alt="Foto 11" class="photo photo-17">
    <img src="portfolio_fotos/34.png" alt="Foto 11" class="photo photo-18">
</section>
<section class="impargrid">
    <img src="portfolio_fotos/44.jpg" alt="Foto 11" class="photo photo-19">
    <img src="portfolio_fotos/43.jpg" alt="Foto 11" class="photo photo-20">
    <img src="portfolio_fotos/45.jpg" alt="Foto 11" class="photo photo-21">
    <img src="portfolio_fotos/42.jpg" alt="Foto 11" class="photo photo-22">
    <img src="portfolio_fotos/41.jpg" alt="Foto 11" class="photo photo-23">

    <img src="portfolio_fotos/21.JPG" alt="Foto 11" class="photo photo-24">
    <img src="portfolio_fotos/22.JPG" alt="Foto 11" class="photo photo-25">
    <img src="portfolio_fotos/27.png" alt="Foto 11" class="photo photo-26">
    <img src="portfolio_fotos/28.png" alt="Foto 11" class="photo photo-27">

    <img src="portfolio_fotos/23.jpg" alt="Foto 11" class="photo photo-28">
    <img src="portfolio_fotos/24.jpg" alt="Foto 11" class="photo photo-29">
    <img src="portfolio_fotos/39.jpg" alt="Foto 11" class="photo photo-30">
    <img src="portfolio_fotos/40.jpg" alt="Foto 11" class="photo photo-31">
</section>
<section class="styling-gallery">
    <img src="portfolio_fotos/18.jpg" alt="Foto 1" class="photo photo-32">
    <img src="portfolio_fotos/20.jpg" alt="Foto 2" class="photo photo-33">
    <img src="portfolio_fotos/19.jpg" alt="Foto 3" class="photo photo-34">
    <img src="portfolio_fotos/46.jpg" alt="Foto 4" class="photo photo-35">
    <img src="portfolio_fotos/47.jpg" alt="Foto 5" class="photo photo-36">
    <img src="portfolio_fotos/48.jpg" alt="Foto 6" class="photo photo-37">

    <img src="portfolio_fotos/25.png" alt="Foto 1" class="photo photo-38">
    <img src="portfolio_fotos/26.png" alt="Foto 2" class="photo photo-39">
</section>
<section class="impargrid">
    <img src="portfolio_fotos/29.png" alt="Foto 11" class="photo photo-40">
    <img src="portfolio_fotos/56.jpg" alt="Foto 11" class="photo photo-41">
    <img src="portfolio_fotos/35.jpg" alt="Foto 11" class="photo photo-42">
    <img src="portfolio_fotos/66.jpg" alt="Foto 11" class="photo photo-43">
</section>
  
